<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.bowser.dev.develoment_mode">

    <application>

        <activity
            android:name=".DevelopmentModeActivity"
            android:icon="@drawable/ic_development_launcher"
            android:label="Development mode"
            android:taskAffinity="fr.bowser.dev.develoment_mode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>